include dash_draggable_grid/dash_draggable_grid.min.js
include dash_draggable_grid/dash_draggable_grid.min.js.map
include dash_draggable_grid/metadata.json
include dash_draggable_grid/package-info.json
include README.md
include LICENSE
include package.json
